@model Resume.Application.DTOs.SiteSide.Home_Index.HomeIndexModelDTO
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->
<div class="content" data-simplebar>
    <div class="section mt-0">
        <h1 class="title title--h1 title__separate">Resume</h1>
    </div>

    <!-- Experience -->
    <div class="section">
        <h2 class="title title--h2"><img class="title-icon" src="/SiteSample/assets/icons/icon-education.svg" alt="" /> Education</h2>
        <div class="timeline">

            @foreach (var item in Model.Educations)
            {
                <!-- Item -->
                <article class="timeline__item">
                    <h5 class="title title--h3 timeline__title">
                       @item.EducationTitle
                    </h5>
                    <span class="timeline__period">
                        @item.EducationDuration
                    </span>
                    <p class="timeline__description">
                        @item.EducationDescription
                    </p>
                </article>

            }



        </div>
    </div>

    <div class="section">
        <h2 class="title title--h2"><img class="title-icon" src="/SiteSample/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
        <div class="timeline">
            @foreach (var item in Model.Exprience)
            {
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h3 timeline__title">
                    @item.ExprienceTitle
                </h5>
                <span class="timeline__period">
                    @item.ExprienceDuration
                </span>
                <p class="timeline__description">
                    @item.ExprienceDescription
                </p>
            </article>
            }
        </div>
    </div>

    <!-- Skills -->
    <div class="section">
        <h2 class="title title--h2">My Skills</h2>
        <div class="box-gray">
            
            @foreach (var item in Model.Myskiils)
            {
            <!-- Progress -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>Web Design</span><span>
                        @item.Percentage
                    </span></div>
                </div>
                <div class="progress-text"><span>
                    @item.SkillTitle
                </span></div>
            </div>

            }

        </div>
    </div>
</div><!-- Content End -->